<div class="agileits_w3layouts_main_grid_left" style="margin-bottom: 20px">
  <div class="wthree_main_grid agileinfo_main_grid">
    <div class="w3ls_main_grid">
      <div class="agileits_main_grid_left">
        <div class="agileits_main_grid_leftl">
          <h3>24<span>°</span></h3>
        </div>
        <div class="agileits_main_grid_leftr">
          <h4>晴</h4>
          <p>今日, 沈阳</p>
        </div>
        <div class="clear"> </div>
      </div>
      <div class="agileits_main_grid_right">
        <p>at 09:00 PM</p>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="w3l_main_grid_list">
      <ul id="owl-demo" class="owl-carousel owl-theme">
        <li><h4>Fri</h4>
          <div class="w3layouts_icon">
            <img src="img/1.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>27° <span>15°</span></h5>
        </li>
        <li><h4>Sat</h4>
          <div class="w3layouts_icon">
            <img src="img/2.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>20°</span></h5>
        </li>
        <li><h4>Sun</h4>
          <div class="w3layouts_icon">
            <img src="img/3.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>15° <span>10°</span></h5>
        </li>
        <li><h4>Mon</h4>
          <div class="w3layouts_icon">
            <img src="img/4.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>20° <span>18°</span></h5>
        </li>
        <li><h4>Tue</h4>
          <div class="w3layouts_icon">
            <img src="./img/5.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>15° <span>15°</span></h5>
        </li>
        <li><h4>Wed</h4>
          <div class="w3layouts_icon">
            <img src="./img/6.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>10° <span>12°</span></h5>
        </li>
        <li><h4>Thu</h4>
          <div class="w3layouts_icon">
            <img src="./img/7.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>10°</span></h5>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="w3_agileits_main_grid_right" style="margin-bottom: 20px">
  <div class="wthree_main_grid agileinfo_main_grid1">
    <div class="w3ls_main_grid">
      <div class="agileits_main_grid_left">
        <div class="agileits_main_grid_leftl">
          <h3>12<span>°</span></h3>
        </div>
        <div class="agileits_main_grid_leftr">
          <h4>多云</h4>
          <p>今日, 鞍山</p>
        </div>
        <div class="clear"> </div>
      </div>
      <div class="agileits_main_grid_right">
        <p>at 11:00 AM</p>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="w3l_main_grid_list">
      <ul id="owl-demo1" class="owl-carousel owl-theme">
        <li><h4>Fri</h4>
          <div class="w3layouts_icon">
            <img src="images/8.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>27° <span>15°</span></h5>
        </li>
        <li><h4>Sat</h4>
          <div class="w3layouts_icon">
            <img src="images/9.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>20°</span></h5>
        </li>
        <li><h4>Sun</h4>
          <div class="w3layouts_icon">
            <img src="images/10.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>15° <span>10°</span></h5>
        </li>
        <li><h4>Mon</h4>
          <div class="w3layouts_icon">
            <img src="images/11.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>20° <span>18°</span></h5>
        </li>
        <li><h4>Tue</h4>
          <div class="w3layouts_icon">
            <img src="images/1.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>27° <span>15°</span></h5>
        </li>
        <li><h4>Wed</h4>
          <div class="w3layouts_icon">
            <img src="images/2.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>20°</span></h5>
        </li>
        <li><h4>Thu</h4>
          <div class="w3layouts_icon">
            <img src="images/7.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>10°</span></h5>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="agileits_w3layouts_main_grid_left">
  <div class="wthree_main_grid agileinfo_main_grid2">
    <div class="w3ls_main_grid">
      <div class="agileits_main_grid_left">
        <div class="agileits_main_grid_leftl">
          <h3>18<span>°</span></h3>
        </div>
        <div class="agileits_main_grid_leftr">
          <h4>小雨</h4>
          <p>今日, 本溪</p>
        </div>
        <div class="clear"> </div>
      </div>
      <div class="agileits_main_grid_right">
        <p>at 09:00 PM</p>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="w3l_main_grid_list">
      <ul id="owl-demo3" class="owl-carousel owl-theme">
        <li><h4>Fri</h4>
          <div class="w3layouts_icon">
            <img src="images/8.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>27° <span>15°</span></h5>
        </li>
        <li><h4>Sat</h4>
          <div class="w3layouts_icon">
            <img src="images/9.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>20°</span></h5>
        </li>
        <li><h4>Sun</h4>
          <div class="w3layouts_icon">
            <img src="images/10.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>15° <span>10°</span></h5>
        </li>
        <li><h4>Mon</h4>
          <div class="w3layouts_icon">
            <img src="images/11.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>20° <span>18°</span></h5>
        </li>
        <li><h4>Tue</h4>
          <div class="w3layouts_icon">
            <img src="images/1.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>27° <span>15°</span></h5>
        </li>
        <li><h4>Wed</h4>
          <div class="w3layouts_icon">
            <img src="images/2.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>20°</span></h5>
        </li>
        <li><h4>Thu</h4>
          <div class="w3layouts_icon">
            <img src="images/7.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>10°</span></h5>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="w3_agileits_main_grid_right">
  <div class="wthree_main_grid agileinfo_main_grid3">
    <div class="w3ls_main_grid">
      <div class="agileits_main_grid_left">
        <div class="agileits_main_grid_leftl">
          <h3>15<span>°</span></h3>
        </div>
        <div class="agileits_main_grid_leftr">
          <h4>雷雨</h4>
          <p>今日，铁岭</p>
        </div>
        <div class="clear"> </div>
      </div>
      <div class="agileits_main_grid_right">
        <p>at 11:00 AM</p>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="w3l_main_grid_list">
      <ul id="owl-demo4" class="owl-carousel owl-theme">
        <li><h4>Fri</h4>
          <div class="w3layouts_icon">
            <img src="images/1.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>27° <span>15°</span></h5>
        </li>
        <li><h4>Sat</h4>
          <div class="w3layouts_icon">
            <img src="images/2.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>20°</span></h5>
        </li>
        <li><h4>Sun</h4>
          <div class="w3layouts_icon">
            <img src="images/3.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>15° <span>10°</span></h5>
        </li>
        <li><h4>Mon</h4>
          <div class="w3layouts_icon">
            <img src="images/4.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>20° <span>18°</span></h5>
        </li>
        <li><h4>Tue</h4>
          <div class="w3layouts_icon">
            <img src="images/5.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>15° <span>15°</span></h5>
        </li>
        <li><h4>Wed</h4>
          <div class="w3layouts_icon">
            <img src="images/6.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>10° <span>12°</span></h5>
        </li>
        <li><h4>Thu</h4>
          <div class="w3layouts_icon">
            <img src="images/7.png" alt=" " class="w3_img_responsive" />
          </div>
          <h5>12° <span>10°</span></h5>
        </li>
      </ul>
    </div>
  </div>
</div>

