<div class="row">
</div>
<section id="advanced">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">数据管理</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <input #search class="search mb-2" type="text" placeholder="搜索..." (keydown.enter)="onSearch(search.value)">
            <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
