<div class="row">
  <div class="col-12">
    <div echarts [options]="chartoption" (chartClick)="onChartClick($event)" (chartMouseOver)="onChartMouseOver($event)" [loading]="!mapLoaded" style="height: 500px;width: 100%"></div>
  </div>
  <!--<div class="col-12">-->
    <!--<div echarts [options]="option" (chartInit)="onChartInit($event)"></div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="col-lg-12">-->
  <!--<div class="card">-->
    <!--<div class="card-body">-->
      <!--<div class="card-block">-->
        <!--<div class="height-380">-->
         <!---->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="height-380">
            <app-mv-all></app-mv-all>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-body height-380">
        <div class="card-block">
          <div>
            <app-mc-edu></app-mc-edu>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12">
    <div class="card">
      <div class="card-body height-380">
        <div class="card-block">
          <div>
            <app-mv-edu></app-mv-edu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


