<div class="row" matchHeight ="card" >
  <div class="col-lg-6" >
    <div class="card" style="background-color: transparent">
      <div class="card-header">
        <h4 class="card-title mb-0 white">国网沈阳供电公司应急制度</h4>
      </div>
      <div class="card-body">
        <div class="card-block" >
          <div echarts [options]="option" style="height: 500px"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">辽宁省电力有限公司应急制度体系简介</h4>
        <p>switch image to right of the content.</p>
      </div>
      <div class="card-body">
        <div class="card-block" style="height: 500px">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                congue felis in faucibus. </p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                congue felis in faucibus. </p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">Media heading</h4>
              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
                vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                congue felis in faucibus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
