#affiche {
  background-color: rgba(0,0,0,0.5);
  opacity: 1.0;
  color: white;
  display: block;
  width: 96%;
  height: 60px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.affiche_text {
  position: absolute;
  top: 0;
  left: 100%;
  line-height: 60px;
  display: block;
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: x-large;
  font-weight: bold;
}
