<div class="row" matchHeight="card">
  <div class="col-lg-7">
    <div echarts [options]="option" (chartClick)="click($event)"></div>

  </div>
  <!--<div class="col-lg-5">-->
    <!--<div class="card module">-->
      <!--<div class="card-header">-->
        <!--<h4 class="card-title person_detail" style="font-size: 24px">辽宁省电力有限公司应急预案体系简介</h4>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="card-block">-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">基本简介</h4>-->
              <!--<p class="person_detail">-->
                <!--应急预案指面对突发事件如自然灾害、重特大事故、环境公害及人为破坏的应急管理、指挥、救援计划等。它一般应建立在综合防灾规划上。其几大重要子系统为：完善的应急组织管理指挥系统；强有力的应急工程救援保障体系；综合协调、应对自如的相互支持系统；充分备灾的保障供应体系；体现综合救援的应急队伍等。</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">综合应急方案</h4>-->
              <!--<p class="person_detail">综合应急预案是从总体上阐述处理事故的应急方针、政策，应急组织结构及相关应急职责，应急行动、措施和保障等基本要求和程序，是应对各类事故的综合性文件。</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">专项应急预案</h4>-->
              <!--<p class="person_detail">-->
                <!--专项应急预案是针对具体的事故类别（如煤矿瓦斯爆炸、危险化学品泄漏等事故）、危险源和应急保障而制定的计划或方案，是综合应急预案的组成部分，应按照综合应急预案的程序和要求组织制定，并作为综合应急预案的附件。专项应急预案应制定明确的救援程序和具体的应急救援措施。</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">现场处置方案</h4>-->
              <!--<p class="person_detail">-->
                <!--现场处置方案是针对具体的装置、场所或设施、岗位所制定的应急处置措施。现场处置方案应具体、简单、针对性强。现场处置方案应根据风险评估及危险性控制措施逐一编制，做到事故相关人员应知应会，熟练掌握，并通过应急演练，做到迅速反应、正确处置。</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="col-md-12 col-lg-5">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">应急预案体系 <small class="text-muted">简介</small></h4>
        <p>应急预案指面对突发事件如自然灾害、重特大事故、环境公害及人为破坏的应急管理、指挥、救援计划等。它一般应建立在综合防灾规划上。其几大重要子系统为：完善的应急组织管理指挥系统；强有力的应急工程救援保障体系；综合协调、应对自如的相互支持系统；充分备灾的保障供应体系；体现综合救援的应急队伍等。</p>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">综合应急方案
              </div>
              <p>综合应急预案是从总体上阐述处理事故的应急方针、政策，应急组织结构及相关应急职责，应急行动、措施和保障等基本要求和程序，是应对各类事故的综合性文件。</p>

            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">专项应急预案
              </div>
              <p>专项应急预案是针对具体的事故类别（如煤矿瓦斯爆炸、危险化学品泄漏等事故）、危险源和应急保障而制定的计划或方案，是综合应急预案的组成部分，应按照综合应急预案的程序和要求组织制定，并作为综合应急预案的附件。专项应急预案应制定明确的救援程序和具体的应急救援措施。</p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">现场处置方案
              </div>
              <p>现场处置方案是针对具体的装置、场所或设施、岗位所制定的应急处置措施。现场处置方案应具体、简单、针对性强。现场处置方案应根据风险评估及危险性控制措施逐一编制，做到事故相关人员应知应会，熟练掌握，并通过应急演练，做到迅速反应、正确处置。</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

