<div class="row">
<div class="col-sm-12 col-md-6">
  <div ngbDropdown #myDrop1="ngbDropdown" style="background-color: #031845;height:40px;text-align: right">
    <button class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle style="color:white">选择地区：</button>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2" id="district">
    </div>
  </div>
  <div id="map" style="height:600px;margin-top: 0px"></div>
</div>
  <div class="col-sm-12 col-md-6">
  </div>
</div>
