<p>
  edit-profile works!
</p>
<div class="row" matchHeight="card">
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card bg-warning">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>普通用户</h3>
                <span>账户类型</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-rocket white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card bg-success">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>正常</h3>
                <span>账户状态</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-user white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-12">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="media">
              <div class="media-body white text-left">
                <h3>2018-8-3 9：00</h3>
                <span>上次登录时间</span>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-support white font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<i class="ft-che"
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" id="basic-layout-form">个人信息</h4>
      </div>
      <div class="card-body">
        <div class="px-3">
          <form class="form">
            <div class="form-body">
              <h4 class="form-section"><i class="ft-user"></i> 基本信息</h4>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput1">姓</label>
                    <input type="text" id="projectinput1" class="form-control"  name="fname">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput2">名</label>
                    <input type="text" id="projectinput2" class="form-control"  name="lname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="timesheetinput3">出生日期</label>
                    <div class="position-relative has-icon-left">
                      <input type="date" id="timesheetinput3" class="form-control" name="date">
                      <div class="form-control-position">
                        <i class="ft-message-square"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput7">性别</label>
                    <select id="projectinput7" name="interested" class="form-control">
                      <option value="none" selected="" disabled="">性别</option>
                      <option value="design">男</option>
                      <option value="development">女</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput3">邮箱</label>
                    <input type="text" id="projectinput3" class="form-control"  name="email">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput4">联系电话</label>
                    <input type="text" id="projectinput4" class="form-control"  name="phone">
                  </div>
                </div>
              </div>


              <h4 class="form-section"><i class="ft-file-text"></i> 部门信息</h4>

              <div class="form-group">
                <label for="companyName">公司名称</label>
                <input type="text" id="companyName" class="form-control"  name="company">
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput5">部门</label>
                    <select id="projectinput5" name="interested" class="form-control">
                      <option value="none" selected="" disabled="">部门</option>
                      <option value="design">开发部</option>
                      <option value="development">运营部</option>
                      <option value="illustration">……</option>
                      <option value="branding">……</option>
                      <option value="video">……</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="projectinput6">职位</label>
                    <select id="projectinput6" name="budget" class="form-control">
                      <option value="0" selected="" disabled="">职位</option>
                      <option value="less than 5000$">员工</option>
                      <option value="5000$ - 10000$">主管</option>
                      <option value="10000$ - 20000$">组长</option>
                      <option value="more than 20000$">……</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>上传头像</label>
                <input type="file" class="form-control-file" id="projectinput8">
              </div>

              <div class="form-group">
                <label for="projectinput8">个人介绍</label>
                <textarea id="projectinput8" rows="5" class="form-control" name="comment" ></textarea>
              </div>
            </div>

            <div class="form-actions">
              <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                <i class="ft-x"></i> 取消
              </button>
              <button type="button" class="btn btn-raised btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> 保存
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
