<div class="card-block">
  <div class="row">
  <!--<p>-->
    <!--<a style="margin: 3px" class="btn btn-raised gradient-purple-bliss white" value="应急领导小组" (click)='click("应急领导小组")'>应急领导小组</a>-->
    <!--<a style="margin: 3px" class="btn btn-raised gradient-crystal-clear white" value="安全应急办公室" (click)='click("安全应急办公室")'>安全应急办公室</a>-->
    <!--<a style="margin: 3px"  class="btn btn-raised gradient-nepal white" value="稳定应急办公室" (click)='click("稳定应急办公室")'>稳定应急办公室</a>-->
  <!--</p>-->
    <div class="col-lg-7 col-md-offset-8">
      <div class="dropdown btn-group mr-1 mb-1 " ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="margin: 3px">{{city_name}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item" *ngFor="let city of city_list" (click)="choosetown(city)">{{city}}</button>
  </div>
  <span ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle style="margin: 3px">{{town_name}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
    <button class="dropdown-item" (click)="return()">返回上级</button>
    <button class="dropdown-item" *ngFor="let town of town_list" (click)="choosentown(town)">{{town}}</button>
  </div>
    </span>
  </div>
      <div class="col-lg-7" style="margin-left: 100px">
        <!--<div echarts [options]="option_sankey"  style="height:800px" (chartClick)="show_content($event)"></div>-->
        <div id="orgchart-container"><app-orgchart [data]="datasource"></app-orgchart></div>
      </div>
</div>
    <div class="col-md-12 col-lg-5" >
      <div class="card" style="height: 60px;padding-top: 0px">
      <div class="card-header">
        <h4 class="card-title">辽宁省电力有限公司应急组织体系 <small class="text-muted">各部门介绍</small></h4>
      </div>
    </div>
      <div class="card" style="height: 120px">
        <div class="card-header"  style="height: 40px;padding-top: 10px">
          <h4 class="card-title primary">组织名称 </h4>
        </div>
        <div class="card-body">
          <div class="card-block"  style="padding-top: 0px">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <div class="media" style="margin-right: 0px">
                  <div class="media-body text-left">
                    <p class="person_detail" style="font-size: 20px;font-style: normal">{{chosen_name}}</p>
                  </div>
                  <div class="media-right align-self-center">
                    <i class="icon-cup success font-large-1 float-right"></i>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="height: 145px">
        <div class="card-header" style="height: 40px;padding-top: 10px">
          <h4 class="card-title warning">组织简介 </h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <div class="media" style="margin-right: 0px">
                  <div class="media-body text-left">
                    <p class="person_detail" style="font-size: 20px;font-style: normal">{{content}}</p>
                  </div>
                  <div class="media-right align-self-center">
                    <i class="icon-book-open danger font-large-1 float-right"></i>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="height: 120px">
        <div class="card-header"  style="height: 40px;padding-top: 10px">
          <h4 class="card-title primary">负责人 </h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <div class="media" style="margin-right: 0px">
                  <div class="media-body text-left">
                    <p class="person_detail" style="font-size: 20px;font-style: normal">张一 </p>
                  </div>
                  <div class="media-right align-self-center">
                    <i class="icon-user success font-large-1 float-right"></i>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="height: 120px">
        <div class="card-header"  style="height: 40px;padding-top: 10px">
          <h4 class="card-title warning">联系方式 </h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <div class="media" style="margin-right: 0px">
                  <div class="media-body text-left">
                    <p class="card-text" style="font-size: 20px;font-style: normal">13230010100</p>
                  </div>
                  <div class="media-right align-self-center">
                    <i class="icon-pie-chart danger font-large-1 float-right"></i>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="height: 145px">
        <div class="card-header" style="height: 40px;padding-top: 10px">
          <h4 class="card-title primary">成员组成 </h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="card-text">
              <blockquote class="blockquote border-left-primary border-left-3 pl-2">
                <div class="media" style="margin-right: 0px">
                  <div class="media-body text-left">
                    <p class="person_detail" style="font-size: 20px;font-style: normal">部门由12名成员组成，其中博士生1名，硕士2名。。。。。。</p>
                  </div>
                  <div class="media-right align-self-center">
                    <i class="icon-direction success font-large-1 float-right"></i>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

