<div class="card-block">
  <div class="row">
  <!--<p>-->
    <!--<a style="margin: 3px" class="btn btn-raised gradient-purple-bliss white" value="应急领导小组" (click)='click("应急领导小组")'>应急领导小组</a>-->
    <!--<a style="margin: 3px" class="btn btn-raised gradient-crystal-clear white" value="安全应急办公室" (click)='click("安全应急办公室")'>安全应急办公室</a>-->
    <!--<a style="margin: 3px"  class="btn btn-raised gradient-nepal white" value="稳定应急办公室" (click)='click("稳定应急办公室")'>稳定应急办公室</a>-->
  <!--</p>-->
    <div class="col-md-4 col-md-offset-8">
<div class="dropdown btn-group mr-1 mb-1 " ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="margin: 3px">{{city_name}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item" *ngFor="let city of city_list" (click)="choosetown(city)">{{city}}</button>
  </div>
  <span ngbDropdown>
  <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle style="margin: 3px">{{town_name}}</button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
    <button class="dropdown-item" (click)="return()">返回上级</button>
    <button class="dropdown-item" *ngFor="let town of town_list" (click)="choosentown(town)">{{town}}</button>
  </div>
    </span>
  </div>
</div>
</div>

</div>
<div class="row">
<div class="col-lg-7">
 <!--<div echarts [options]="option_sankey"  style="height:800px" (chartClick)="show_content($event)"></div>-->
  <div id="orgchart-container"><app-orgchart [data]="datasource"></app-orgchart></div>
</div>
<!--<div class="col-lg-5" >-->
  <!--<div class="card module" style="height: 740px">-->
    <!--<div class="card-header">-->
      <!--<h4 class="card-title person_detail" style="font-size: 24px">辽宁省电力有限公司应急组织体系简介</h4>-->
    <!--</div>-->
    <!--<div class="card-body">-->
      <!--<div class="card-block">-->
        <!--<div class="media">-->
          <!--<div class="media-body">-->
            <!--<h4 class="media-heading person_detail" style="font-size: 24px">组织名称:</h4>-->
            <!--<p class="person_detail" style="font-size: 20px">{{chosen_name}}</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="media">-->
          <!--<div class="media-body">-->
            <!--<h4 class="media-heading person_detail" style="font-size: 24px">组织简介:</h4>-->
            <!--<p class="person_detail" style="font-size: 20px">{{content}}</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="media">-->
          <!--<div class="media-body">-->
            <!--<h4 class="media-heading person_detail" style="font-size: 24px">负责人:</h4>-->
            <!--<p class="person_detail" style="font-size: 20px">张XX </p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="media">-->
          <!--<div class="media-body">-->
            <!--<h4 class="media-heading person_detail" style="font-size: 24px">联系方式:</h4>-->
            <!--<p class="person_detail" style="font-size: 20px">133XXXXXXXX</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
  <div class="col-md-12 col-lg-5">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">辽宁省电力有限公司应急组织体系 <small class="text-muted">各部门介绍</small></h4>
       </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0 primary">组织名称：
              </div>
              <p class="person_detail" style="font-size: 20px">{{chosen_name}}</p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0  warning">组织简介:
              </div>
              <p class="person_detail" style="font-size: 20px">{{content}}</p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0 primary">负责人:
              </div>
              <p class="person_detail" style="font-size: 20px">张XX </p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0  warning">联系方式：
              </div>
              <p class="person_detail" style="font-size: 20px">133XXXXXXXX </p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0 primary">成员组成：
              </div>
              <p class="person_detail" style="font-size: 20px">部门由12名成员组成，其中博士1名，硕士2名。。。。。。</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
