<div class="row">
  <div class="col-4">
    <div class="module-panel" *ngFor="let city of initdata">
      <div class="panel-body">
        <div class="row">
          <div class=" col-8" style="font-weight: bold;font-size: 20px"><i class="ft-circle mr-2"></i>{{city.name}}</div>
          <div class=" col-4" style="color: blue;font-weight: bold;font-size: 30px">{{city.value}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div echarts [options]="chartOption" style="height: 400px"></div>
  </div>
  <div class="col-4">
    <div echarts [options]="zhuoption" style="height: 350px"></div>
  </div>
</div>
<div class="row">
  <div echarts [options]="quxianoption" style="height: 300px;width: 100%"></div>
</div>



