<div class="row" style="height: auto;width: 180%">
  <div class="card-deck col-12 pl-0 pr-0">
  <div class="col-2 card">
    <div class="module">
      <app-personnel-detail></app-personnel-detail>
    </div>
      <div class="module">
        <app-p-expert-bar></app-p-expert-bar>
      </div>
      <div class="module">
        <app-p-manager-bar></app-p-manager-bar>
      </div>
      <div class="module ">
        <app-p-repair-bar></app-p-repair-bar>
      </div>
      <div class="module">
        <app-personnel-pie></app-personnel-pie>
      </div>
  </div>
    
  <div class="col-7 card">
    <div class="row" >
      <div class="col-7">
        <app-map></app-map>
      </div>
      <div class="col-5" style="color: #95ffff;">
        <div class="row mt-5">
          <div class="col-8" style="font-size: 18px">应急状态</div>
          <div class="col-4" style="font-size: 25px;font-weight: bold;color: #eeff41">C</div>
        </div>
        <div class="row mt-2">
          <div class="col-8" style="font-size: 18px">应急人员</div>
          <div class="col-4" style="font-size: 25px;font-weight: bold;color: #eeff41">200</div>
        </div>
        <div class="row mt-2">
          <div class="col-8" style="font-size: 18px">应急物资</div>
          <div class="col-4" style="font-size: 25px;font-weight: bold;color: #eeff41">200</div>
        </div>
        <div class="row mt-2">
          <div class="col-8" style="font-size: 18px">应急装备</div>
          <div class="col-4" style="font-size: 25px;font-weight: bold;color: #eeff41">200</div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 300px;overflow: auto">
      <div class="col-4">
        <div class="module-header">应急装备</div>
        <app-equipment-circle></app-equipment-circle>
      </div>
      <div class="col-4 module">
        <div class="module-header">抢修材料</div>
        <app-material-circle></app-material-circle>
      </div>
      <div class="col-4">
        <app-stuff-circle></app-stuff-circle>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12">
        <app-repaircar-timeline></app-repaircar-timeline>
      </div>

    </div>
  </div>

  <div class="col-3 card">
    <div class="row card">
      <app-generator-bar></app-generator-bar>
    </div>
    <div class="row card">
      <app-generator-pie></app-generator-pie>
    </div>
    <div class="row card">
      <app-generator-radar></app-generator-radar>
    </div>
    <div class="row card">
      <app-repaircar-bar></app-repaircar-bar>
    </div>
  </div>
  </div>
</div>
<div class="row" style="height:200px;width:180%;background-color: #0ABC76"></div>
<div class="row card" style="width: 180%;height: 300px" >
  <app-urgent-material-tree></app-urgent-material-tree>
</div>
