<div class="row">

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">正常</h3>
              <span>水位状态</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">晴</h3>
              <span>天气</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-bulb font-large-1"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">125</h3>
              <span>人员</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-graph font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">300</h3>
              <span>物资</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-wallet font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card-deck col-lg-12">
    <div class="card col-lg-4">
      <div class="card-body">
        <!--<app-generator-bar></app-generator-bar>-->
        <app-generator-pie></app-generator-pie>
      </div>
    </div>
    <div class="card panel panel-blur col-lg-4">
      <div class="card-body">
        <app-repaircar-bar></app-repaircar-bar>
      </div>
    </div>
    <div class="card panel panel-blur col-lg-4">
      <div class="card-body">
        <app-generator-bar></app-generator-bar>
      </div>
    </div>
  </div>
</div>

<app-repaircar-timeline></app-repaircar-timeline>
<app-generator-radar></app-generator-radar>


<app-urgent-material-tree></app-urgent-material-tree>

<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>
