<div class="row" style="height: auto;width: 2500px">
  <div class="card-deck col-12 pl-0 pr-0">
  <div class="col-2 card">
    <div class="module card">
      <div class="module-header">
        应急人员情况
      </div>
      <app-personnel-detail></app-personnel-detail>
    </div>
      <div class="module card">
        <div class="module-header">
          应急专家队伍分布
        </div>
        <app-p-expert-bar></app-p-expert-bar>
      </div>
      <div class="module card">
        <div class="module-header">
          应急基干人员分布
        </div>
        <app-p-manager-bar></app-p-manager-bar>
      </div>
      <div class="module card">
        <div class="module-header">
          应急抢修队伍分布
        </div>
        <app-p-repair-bar></app-p-repair-bar>
      </div>
      <div class="module card">
        <div class="module-header">
          应急人员组成
        </div>
        <app-personnel-pie></app-personnel-pie>
      </div>
  </div>

  <div class="col-6 card">
    <div class="row" >
      <div class="col-12">
        <app-map-extend></app-map-extend>
      </div>
    </div>
    <div class="row" style="height: 300px;">
      <div class="col-4">
        <div class="module-header">基干装备</div>
        <app-equipment-circle></app-equipment-circle>
      </div>
      <div class="col-4">
        <div class="module-header">抢修材料</div>
        <app-material-circle></app-material-circle>
      </div>
      <div class="col-4">
        <div class="module-header">抢修物资</div>
        <app-stuff-circle></app-stuff-circle>
      </div>

    </div>
    <div class="row module">
      <div class="col-lg-12">
        <app-repaircar-timeline></app-repaircar-timeline>
      </div>

    </div>
  </div>

  <div class="col-4">
    <div class="row card module" >
      <app-generator-bar></app-generator-bar>
    </div>
    <div class="row module card" style="height: 500px">
      <app-generator-pie></app-generator-pie>
    </div>
    <div class="row card module">
      <app-generator-radar></app-generator-radar>
    </div>
    <div class="row card module">
      <app-repaircar-bar></app-repaircar-bar>
    </div>
  </div>
  </div>
</div>

<!--<div class="row card module" style="height:auto;width:2500px;">-->
  <!--<app-message-scatter></app-message-scatter>-->
<!--</div>-->
<!--<div class="row card" style="width: 2500px;height: 300px" >-->
  <!--<app-urgent-material-tree></app-urgent-material-tree>-->
<!--</div>-->

