<div class="card">
  <div class="card-header title-bg-container pb-0 pl-0 pt-2">
    <div class="primary title-bg ft-chevrons-right" style="height: 30px;font-size: 23px;width: fit-content">应急预案管理 </div>
    <!--<a href="#" style="position: absolute; top: 20px; right: 0;">更多&gt;</a>-->
  </div>
  <div class="card-body">
    <div class="card-block pb-0">
      <div class="card-text">
        <table id="table-7" style="width: 100%;height: 100%;text-align: center"> <!-- Replace "table-1" with any of the design numbers -->
          <thead>
          <th>状态</th>
          <th>沈阳</th>
          <th>大连</th>
          <th>鞍山</th>
          <th>抚顺</th>
          <th>本溪</th>
          <th>铁岭</th>
          <th>辽阳</th>
          <th>阜新</th>
          <th>丹东</th>
          <th>盘锦</th>
          <th>营口</th>
          <th>锦州</th>
          <th>朝阳</th>
          <th>葫芦岛</th>
          </thead>
          <tbody>
          <tr>
            <td>评审</td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
          </tr>
          <tr>
            <td>审批</td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
          </tr>
          <tr>
            <td>备案</td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
          </tr>
          <tr>
            <td>备注</td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
            <td><i class="fa fa-times warning"></i></td>
            <td><i class="fa fa-check success"></i></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="border-top: 1px solid #cfd8dc !important;height: 40px;text-align: center;line-height: 36px">
    <a href="#"><i class="ft-clipboard"></i>查看详情</a>
  </div>
</div>
