<div class="row">
<div class="col-sm-12 col-md-6">
  <div class="card" style="height:800px">
    <div class="card-header">
      <h4 class="card-title">省公司应急培训演练计划</h4>
      <p>最新更新时间为：2018年8月23日</p>
    </div>
    <div class="card-body">
      <div class="card-block">
        <ul class="list-group">
          <li class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">2018年省公司应急培训演练计划</h5>
              <small>1 days ago</small>
            </div>
            <p class="mb-3">本次演练计划主要针对...</p>
            <button class="btn btn-flat btn-warning" (click)="click()">点击查看详情>>></button>
          </li>
          <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">2017年省公司应急培训演练计划</h5>
              <small class="text-muted">1 year ago</small>
            </div>
            <p class="mb-3">本次演练计划主要针对...</p>
            <button class="btn btn-flat btn-warning" (click)="click()">点击查看详情>>></button>
          </li>
          <li class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-3">2016年省公司应急培训演练计划.</h5>
              <small class="text-muted">2 years ago</small>
            </div>
            <p class="mb-3">本次演练计划主要针对...</p>
            <button class="btn btn-flat btn-warning" (click)="click()">点击查看详情>>></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6">
  <div class="card">
      <div echarts [options]="option"  style="height:800px" ></div>
  </div>
</div>
</div>
