<div class="module-panel">
  <div class="panel-body">
    <div class="row">
      <div class="person_detail col-9"><i class="icon-user mr-2"></i>应急专家队伍</div>
      <div class="person_detail col-3">{{p_expert}}</div>
    </div>
  </div>
</div>
<div class="module-panel">
  <div class="panel-body">
    <div class="row">
      <div class="person_detail col-9"><i class="icon-user mr-2"></i>应急抢修队伍</div>
      <div class="person_detail col-3">{{p_repair}}</div>
    </div>
  </div>
</div>
<div class="module-panel">
  <div class="panel-body">
    <div class="row">
      <div class="person_detail col-9"><i class="icon-user mr-2"></i>应急基干分队</div>
      <div class="person_detail col-3">{{p_manager}}</div>
    </div>
  </div>
</div>
