<section id="basic-datatable" class="mb-3">
  <div echarts [options] = "chartOption"  class="demo-chart"></div>
  <div class="row">
    <div class="col-12">
      <div class="content-header">操作日志</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='搜索...' (keyup)='updateFilter($event)'
      />
      <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                     [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
      </ngx-datatable>
    </div>
  </div>



</section>
