<div class="row">
  <div class="col-4">
    <div class="card"  style="height: 315px">
      <div class="card-header">
        <h4 class="card-title warning">预警 </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <div class="chat-sidebar float-left d-none d-sm-none d-md-block d-lg-block" style="width: 100%">
              <div class="chat-sidebar-content">
                <div id="users-list1" class="list-group position-relative">
                  <div class="users-list-padding">
                    <a class="list-group-item bg-blue-grey bg-lighten-5 border-right-primary border-right-2" (click)="SetActive($event, 'chat1')">
            <span class="media">
              <span class="avatar avatar-md avatar-online">
                <img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png"
                     alt="Generic placeholder image">
                <i></i>
              </span>
              <div class="media-body">
                <h6 class="list-group-item-heading">沈阳
                  <span class="font-small-3 float-right primary">4:14 AM</span>
                </h6>
                <p class="list-group-item-text text-muted">
                  <i class="ft-check primary font-small-2"></i> 红色预警
                  <span class="float-right primary">
                    <i class="font-medium-1 icon-pin blue-grey lighten-3"></i>
                  </span>
                </p>
              </div>
            </span>
                    </a>
                    <a class="list-group-item no-border" (click)="SetActive($event,'chat2')">
            <span class="media">
              <span class="avatar avatar-md avatar-busy">
                <img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-7.png"
                     alt="Generic placeholder image">
                <i></i>
              </span>
              <div class="media-body">
                <h6 class="list-group-item-heading">鞍山
                  <span class="font-small-3 float-right primary">9:04 PM</span>
                </h6>
                <p class="list-group-item-text text-muted">
                  <i class="ft-check primary font-small-2"></i> 红色预警
                  <span class="float-right
                        primary">
                    <span class="badge badge-pill badge-primary"></span>
                  </span>
                </p>
              </div>
            </span>
                    </a>
                    <!--<a class="list-group-item no-border" (click)="SetActive($event,'chat3')">-->
                    <!--<span class="media">-->
                    <!--<span class="avatar avatar-md avatar-away">-->
                    <!--<img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-8.png"-->
                    <!--alt="Generic placeholder image">-->
                    <!--<i></i>-->
                    <!--</span>-->
                    <!--<div class="media-body">-->
                    <!--<h6 class="list-group-item-heading">葫芦岛-->
                    <!--<span class="font-small-3 float-right primary">2:14 AM</span>-->
                    <!--</h6>-->
                    <!--<p class="list-group-item-text text-muted">-->
                    <!--<i class="ft-check font-small-2"></i> 绿色预警-->
                    <!--<span class="float-right primary">-->
                    <!--<i class="font-medium-1 icon-volume-off blue-grey lighten-3 mr-1"></i>-->
                    <!--<span class="badge badge-pill badge-primary"></span>-->
                    <!--</span>-->
                    <!--</p>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</a>-->
                    <!--<a class="list-group-item no-border" (click)="SetActive($event,'chat4')">-->
                    <!--<span class="media">-->
                    <!--<span class="avatar avatar-md avatar-away">-->
                    <!--<img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-5.png"-->
                    <!--alt="Generic placeholder image">-->
                    <!--<i></i>-->
                    <!--</span>-->
                    <!--<div class="media-body">-->
                    <!--<h6 class="list-group-item-heading">锦州-->
                    <!--<span class="font-small-3 float-right primary">昨天</span>-->
                    <!--</h6>-->
                    <!--<p class="list-group-item-text text-muted">-->
                    <!--<i class="ft-check font-small-2"></i> 紫色预警</p>-->
                    <!--</div>-->
                    <!--</span>-->
                    <!--</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="height: 315px">
      <div class="card-header">
        <h4 class="card-title primary">未预警 </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <div class="chat-sidebar float-left d-none d-sm-none d-md-block d-lg-block" style="width: 100%">
              <div class="chat-sidebar-content">
                <div id="users-list2" class="list-group position-relative">
                  <div class="users-list-padding">
                    <a class="list-group-item no-border" (click)="SetActive($event,'chat5')">
            <span class="media">
              <span class="avatar avatar-md avatar-online">
                <img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-9.png"
                     alt="Generic placeholder image">
                <i></i>
              </span>
              <div class="media-body">
                <h6 class="list-group-item-heading">抚顺
                  <span class="font-small-3 float-right primary"></span>
                </h6>
                <p class="list-group-item-text text-muted">
                  <i class="ft-check font-small-2"></i>
                  <span class="float-right primary">
                    <span class="badge badge-pill badge-primary"></span>
                  </span>
                </p>
              </div>
            </span>
                    </a>
                    <a class="list-group-item no-border" (click)="SetActive($event,'chat6')">
            <span class="media">
              <span class="avatar avatar-md avatar-busy">
                <img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-4.png"
                     alt="Generic placeholder image">
                <i></i>
              </span>
              <div class="media-body">
                <h6 class="list-group-item-heading">铁岭
                  <span class="font-small-3 float-right primary"></span>
                </h6>
                <p class="list-group-item-text text-muted">
                  <i class="ft-check font-small-2"></i></p>
              </div>
            </span>
                    </a>
                    <!--<a class="list-group-item no-border" (click)="SetActive($event,'chat7')">-->
            <!--<span class="media">-->
              <!--<span class="avatar avatar-md avatar-online">-->
                <!--<img class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-14.png"-->
                     <!--alt="Generic placeholder image">-->
                <!--<i></i>-->
              <!--</span>-->
              <!--<div class="media-body">-->
                <!--<h6 class="list-group-item-heading">辽阳</h6>-->
                <!--<p class="list-group-item-text text-muted">-->
                  <!--<i class="ft-check primary font-small-2"></i> </p>-->
              <!--</div>-->
            <!--</span>-->
                    <!--</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4" (click)="clicktest" style="margin-top: 100px">
    <app-map></app-map>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="media" >
          <div class="media-body text-left" style="margin-right: 15px">
            <h4 class="card-title">预警详情 </h4>
          </div>
          <div class="media-right align-self-center">
            <i class="ft-alert-triangle warning font-large-1 float-right"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"  style="height: 40px;padding-top: 10px">
        <h4 class="card-title primary">预警简介 </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
            <p class="person_detail" style="font-size: 20px">{{detaildata}}</p>
          </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header"  style="height: 40px;padding-top: 10px">
        <h4 class="card-title warning">具体预警内容 </h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <p class="person_detail" style="font-size: 20px">{{detaildata}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="col-4">-->
    <!--<div class="card" style="height: 556px">-->
      <!--<div class="card-header">预警详情</div>-->
      <!--<div class="card-body" style="padding: 15px">-->
        <!--预警具体内容-->
        <!--例子：{{detaildata}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
