.module {
  border-color: rgb(1, 135, 116);border-radius:5px;border-style:solid; border-width:1px;
  margin-bottom: 15px;
}
.module-header{
  margin: 5px;
  margin-left: 10px;
  color: #01f8db;
  font-weight: bold;
  font-size: 12px;
}
.module-panel {
  border: none;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
  background: url("/assets/img/blur-bg-blurred.jpg") fixed;
  -webkit-transition: none;
  transition: none;
  background-position: 0px -90px;
}
.person_detail{
  color: #68c29d;
  font-size: 10px;
}
.module-body{
  width: 100%;
  color: #68c29d;
}
