/* You can add global styles to this file, and also import other style files */
/* @import url("assets/css/bootstrap.min.css"); */
/* @import url("../src/assets/css/prism.min.css");
@import url("../src/assets/css/sweetalert2.min.css");
@import url("../src/assets/css/bootstrap-timepicker.min.css");
@import url("../src/assets/css/wizard.css");
@import url("../src/assets/css/leaflet.css");
@import url("../src/assets/css/jquery-jvectormap-2.0.3.css");
@import url("../src/assets/css/ng2-toastr.min.css");
@import url("../src/assets/css/nouislider.min.css");
@import url("../src/assets/css/data-table/index.css");
@import url("../src/assets/css/data-table/icons.css");
@import url("../src/assets/css/demo.css"); */
html,body{
  font-family:"Microsoft Yahei"!important;
}
@font-face {
  font-family: ds-digital;
  src: url("/assets/fonts/DS-DIGII.TTF");
}
.FileModalClass .modal-dialog{
  max-width: 800px;
  background-color: transparent;
}
.PictureModalClass .modal-dialog{
  max-width: 950px;
  background-color: transparent;
}
.modal-datatables{
  width: 100%;
  height: 100%;
}
.modal-content{
  width:fit-content!important;
}
.modal-dialog{
  max-width: 1000px!important;
}
