<p>
  my-authority works!
</p>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Contextual classes</h4>
        <p>Use contextual classes to color table rows or individual cells.</p>
      </div>
      <div class="card-body">
        <div class="card-block">
          <table class="table" style="text-align: center">
            <thead>
            <tr>
              <th>权限</th>
              <th>普通用户</th>
              <th>系统管理员（我）</th>
              <th>分析师</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
              <th scope="row">修改个人资料</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr>
              <th scope="row">查看数据</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>


            <tr class="table-primary">
              <th scope="row">修改数据</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-secondary">
              <th scope="row">查看日志</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-success">
              <th scope="row">清理日志</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-danger">
              <th scope="row">服务器设置</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-warning">
              <th scope="row">分析工具</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-info">
              <th scope="row">辅助决策</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-light">
              <th scope="row">大屏设置</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            <tr class="table-dark">
              <th scope="row">用户管理</th>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
              <td><i class="ft-check"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
