<div class="row" matchHeight ="card" >
<div class="col-lg-7">

        <div echarts [options]="option" (chartClick)="click($event)"></div>

</div>
  <div class="col-lg-5">
    <div class="card module">
      <div class="card-header">
        <h4 class="card-title person_detail" style="font-size: 24px">辽宁省电力有限公司应急组织体系简介</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading person_detail" style="font-size: 24px">领导机构</h4>
              <p class="person_detail">国家应急工作组织体系是应急管理的机构的构成：分为领导机构、办事机构、工作机构、地方机构、专家组构成。</p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading person_detail" style="font-size: 24px">办事机构</h4>
              <p class="person_detail">国务院是突发公共事件应急管理工作的最高行政领导机构。在国务院总理领导下，通过国务院常务会议和国家相关突发公共事件应急指挥机构，负责突发公共事件的应急管理工作；必要时，派出国务院工作组指导有关工作。 </p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading person_detail" style="font-size: 24px">工作机构</h4>
              <p class="person_detail">国务院有关部门依据有关法律、行政法规和各自职责，负责相关类别突发公共事件的应急管理工作。具体负责相关类别的突发公共事件专项和部门应急预案的起草与实施，贯彻落实国务院有关决定事项。 </p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading person_detail" style="font-size: 24px">办事机构</h4>
              <p class="person_detail">国务院是突发公共事件应急管理工作的最高行政领导机构。在国务院总理领导下，通过国务院常务会议和国家相关突发公共事件应急指挥机构，负责突发公共事件的应急管理工作；必要时，派出国务院工作组指导有关工作。 </p>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading person_detail" style="font-size: 24px">工作机构</h4>
              <p class="person_detail">国务院有关部门依据有关法律、行政法规和各自职责，负责相关类别突发公共事件的应急管理工作。具体负责相关类别的突发公共事件专项和部门应急预案的起草与实施，贯彻落实国务院有关决定事项。 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

