<div class="container-fluid">
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title" style="font-weight: bold">沈阳市应急组织体系</h4>
              <p><small class="text-muted primary"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照沈阳市“十一五”规划要求，适应沈阳中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
        <div class="timeline-body" style="width: 49%">
          <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/sy.jpg" alt="Card image cap" (click)="open_picture($event)">
        </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/dl.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">大连市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p> 按照大连市“十一五”规划要求，适应大连中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">鞍山市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照鞍山市“十一五”规划要求，适应鞍山中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
          <div class="timeline-body" style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/as.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" src="assets/img/photos/fs.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">抚顺市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照抚顺市“十一五”规划要求，适应抚顺中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">本溪市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照本溪市“十一五”规划要求，适应本溪中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
          <div class="timeline-body" style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/bx.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/dd.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">丹东市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照本溪市“十一五”规划要求，适应本溪中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">锦州市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照锦州市“十一五”规划要求，适应锦州中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
          <div class="timeline-body" style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/sy.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/dl.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">营口市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p> 按照营口市“十一五”规划要求，适应营口中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">阜新市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照阜新市“十一五”规划要求，适应阜新中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
          <div class="timeline-body" style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/as.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" src="assets/img/photos/fs.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">辽阳市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照辽阳市“十一五”规划要求，适应辽阳中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">盘锦市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照盘锦市“十一五”规划要求，适应盘锦中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
          <div class="timeline-body" style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/bx.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/dd.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">铁岭市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照铁岭市“十一五”规划要求，适应铁岭中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge"><i class="ft-activity"></i></div>
      <div class="timeline-panel" >
        <div class="row">
          <div style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">朝阳市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p>按照朝阳市“十一五”规划要求，适应朝阳中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-right: 10px"></div>
          <div class="timeline-body" style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/sy.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="ft-anchor" style="color: white"></i></div>
      <div class="timeline-panel">
        <div class="row">
          <div style="width: 49%">
            <img class="card-img-top img-fluid" style="height: 100%" src="assets/img/photos/dl.jpg" alt="Card image cap" (click)="open_picture($event)">
          </div>
          <div style="width: 3px;background-color: #E0E0E0;margin-left: 7px;margin-right: 3px"></div>
          <div class="timeline-body" style="width: 49%">
            <div class="timeline-heading">
              <h4 class="timeline-title">葫芦岛市应急组织体系</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 2018年10月15日</small></p>
            </div>
            <div class="timeline-body">
              <p> 按照葫芦岛市“十一五”规划要求，适应葫芦岛中心城市特点和未来发展需要，提高政府保障公共安全和处置突发公共事件的能力，最大程度地预防和减少突发公共事件及其造成的损害。</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>



<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<div class="content-header">应急组织体系</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row" matchHeight ="card" >-->
  <!--<div class="col-lg-6" style="margin-top: 50px">-->
    <!--&lt;!&ndash;<div echarts [options]="option" (chartClick)="click($event)"></div>&ndash;&gt;-->
    <!--<div id="orgchart-container">-->
      <!--<div class="orgchart" style="margin-left: 100px;margin-top: 30px">-->
        <!--<table>-->
          <!--<tbody>-->
          <!--<tr>-->
            <!--<td colspan="30">-->
              <!--<div data-value="辽宁省" class="node org-node">-->
                <!--<div class="title">辽宁省</div>-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr class="lines">-->
            <!--<td colspan="30">-->
              <!--<div class="downLine"></div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr class="lines">-->
            <!--<td colspan="1" class="rightLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine topLine"></td>-->
            <!--<td colspan="1" class="rightLine topLine"></td>-->
            <!--<td colspan="1" class="leftLine"></td>-->
          <!--</tr>-->
          <!--<tr class="lines">-->
            <!--<td colspan="2">-->
              <!--<div class="downLine c_downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="省检修" class="node org-node">-->
                <!--<div class="title">省检修</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="沈阳" class="node org-node">-->
                <!--<div class="title" >沈阳</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="大连" class="node org-node">-->
                <!--<div class="title" >大连</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="鞍山" class="node org-node">-->
                <!--<div class="title" >鞍山</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="抚顺" class="node org-node">-->
                <!--<div class="title" >抚顺</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="本溪" class="node org-node">-->
                <!--<div class="title" >本溪</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="丹东" class="node org-node">-->
                <!--<div class="title" >丹东</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div class="c_downLine downLine"></div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td colspan="2">-->
              <!--<div data-value="锦州" class="node org-node">-->
                <!--<div class="title" >锦州</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="营口" class="node org-node">-->
                <!--<div class="title" >营口</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="阜新" class="node org-node">-->
                <!--<div class="title" >阜新</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="辽阳" class="node org-node">-->
                <!--<div class="title" >辽阳</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="盘锦" class="node org-node">-->
                <!--<div class="title" >盘锦</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="铁岭" class="node org-node">-->
                <!--<div class="title" >铁岭</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="朝阳" class="node org-node">-->
                <!--<div class="title" >朝阳</div>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--&nbsp;-->
            <!--</td>-->
            <!--<td colspan="2">-->
              <!--<div data-value="葫芦岛" class="node org-node">-->
                <!--<div class="title" >葫芦岛</div>-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-12 col-lg-6">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--<h4 class="card-title">应急组织体系 <small class="text-muted">简介</small></h4>-->
        <!--<p>辽宁省电力有限公司是根据 <code class="highlighter-primary">国务院办公厅</code>1998第146号文件要求，于1999年3月29日正式挂牌成立的具有独立法人资格的大型国有企业，是国家电网公司的全资子公司，注册资本100亿元人民币。</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header" style="height: 50px;padding-top: 15px">-->
        <!--<h4 class="card-title primary">领导机构 </h4>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="card-block" style="padding-top: 10px;height:110px">-->
          <!--<div class="card-text">-->
            <!--<blockquote class="blockquote border-left-primary border-left-3 pl-2">-->
              <!--<p>国家应急工作组织体系是应急管理的机构的构成：分为领导机构、办事机构、工作机构、地方机构、专家组构成。</p>-->
            <!--</blockquote>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header" style="height: 50px;padding-top: 15px">-->
        <!--<h4 class="card-title warning">办事机构 </h4>-->
      <!--</div>-->
      <!--<div class="card-body" >-->
        <!--<div class="card-block" style="padding-top: 10px;height:130px">-->
          <!--<div class="card-text">-->
            <!--<blockquote class="blockquote border-left-primary border-left-3 pl-2">-->
              <!--<p>国务院是突发公共事件应急管理工作的最高行政领导机构。在国务院总理领导下，通过国务院常务会议和国家相关突发公共事件应急指挥机构，负责突发公共事件的应急管理工作；必要时，派出国务院工作组指导有关工作。 </p>-->
            <!--</blockquote>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header" style="height: 50px;padding-top: 15px">-->
        <!--<h4 class="card-title primary">工作机构 </h4>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="card-block" style="padding-top: 10px;height:130px">-->
          <!--<div class="card-text">-->
            <!--<blockquote class="blockquote border-left-primary border-left-3 pl-2">-->
              <!--<p>国务院有关部门依据有关法律、行政法规和各自职责，负责相关类别突发公共事件的应急管理工作。具体负责相关类别的突发公共事件专项和部门应急预案的起草与实施，贯彻落实国务院有关决定事项。</p>-->
            <!--</blockquote>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


