<div class="row" matchHeight ="card" >
  <div class="col-lg-6">
    <!--<div echarts [options]="option" (chartClick)="click($event)"></div>-->
    <div id="orgchart-container">
      <div class="orgchart" style="margin-left: 100px;margin-top: 30px">
        <table>
          <tbody>
          <tr>
            <td colspan="30">
              <div data-value="辽宁省" class="node org-node">
                <div class="title">辽宁省</div>
              </div>
            </td>
          </tr>
          <tr class="lines">
            <td colspan="30">
              <div class="downLine"></div>
            </td>
          </tr>
          <tr class="lines">
            <td colspan="1" class="rightLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine topLine"></td>
            <td colspan="1" class="rightLine topLine"></td>
            <td colspan="1" class="leftLine"></td>
          </tr>
          <tr class="lines">
            <td colspan="2">
              <div class="downLine c_downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="省检修" class="node org-node">
                <div class="title">省检修</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="沈阳" class="node org-node">
                <div class="title" >沈阳</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="大连" class="node org-node">
                <div class="title" >大连</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="鞍山" class="node org-node">
                <div class="title" >鞍山</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="抚顺" class="node org-node">
                <div class="title" >抚顺</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="本溪" class="node org-node">
                <div class="title" >本溪</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
            <td colspan="2">
              <div data-value="丹东" class="node org-node">
                <div class="title" >丹东</div>
              </div>
            </td>
            <td colspan="2">
              <div class="c_downLine downLine"></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div data-value="锦州" class="node org-node">
                <div class="title" >锦州</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="营口" class="node org-node">
                <div class="title" >营口</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="阜新" class="node org-node">
                <div class="title" >阜新</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="辽阳" class="node org-node">
                <div class="title" >辽阳</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="盘锦" class="node org-node">
                <div class="title" >盘锦</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="铁岭" class="node org-node">
                <div class="title" >铁岭</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="朝阳" class="node org-node">
                <div class="title" >朝阳</div>
              </div>
            </td>
            <td colspan="2">
              &nbsp;
            </td>
            <td colspan="2">
              <div data-value="葫芦岛" class="node org-node">
                <div class="title" >葫芦岛</div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">应急组织体系 <small class="text-muted">简介</small></h4>
        <p>辽宁省电力有限公司是根据 <code class="highlighter-primary">国务院办公厅</code>1998第146号文件要求，于1999年3月29日正式挂牌成立的具有独立法人资格的大型国有企业，是国家电网公司的全资子公司，注册资本100亿元人民币。</p>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">领导机构
              </div>
              <p>国家应急工作组织体系是应急管理的机构的构成：分为领导机构、办事机构、工作机构、地方机构、专家组构成。</p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">办事机构
              </div>
              <p>国务院是突发公共事件应急管理工作的最高行政领导机构。在国务院总理领导下，通过国务院常务会议和国家相关突发公共事件应急指挥机构，负责突发公共事件的应急管理工作；必要时，派出国务院工作组指导有关工作。 </p>
            </blockquote>
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">工作机构
              </div>
              <p>国务院有关部门依据有关法律、行政法规和各自职责，负责相关类别突发公共事件的应急管理工作。具体负责相关类别的突发公共事件专项和部门应急预案的起草与实施，贯彻落实国务院有关决定事项。</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


