<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-blackberry">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">正常</h3>
              <span>水位状态</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-ibiza-sunset">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">晴</h3>
              <span>天气</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-bulb font-large-1"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-green-tea">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">125</h3>
              <span>人员</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-graph font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="card gradient-pomegranate">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">300</h3>
              <span>物资</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-wallet font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-9" id="chart-panel" >
</div>
  <div class="col-3" style="float: right;height: 600px;width: 500px;background-color: #154e90" >
    <div style="background-color: rgba(147, 235, 248, .2);border-color: rgba(147, 235, 248, 1);border-radius:5px;border-style:solid; border-width:1px;">
      <h3 style="color:#fff">当前选中城市：</h3>
      <h3 id="msc" style="color:#fff"> 辽宁 </h3>
    </div>

    <div style="margin-top: 5px;background-color: rgba(147, 235, 248, .2);border-color: rgba(147, 235, 248, 1);border-radius:5px;border-style:solid; border-width:1px;">
      <h4 style="color:#fff">当前水库水位：</h4>
      <div class="row">
        <h4 style="color: #fff" id="sample" class="col-3"></h4>
        <div class="item-container col-9">
          <div class="item-1"></div>
          <div class="item-2"></div>
          <div class="item-3"></div>
          <div class="item-4"></div>
          <div class="item-5"></div>
      </div>

      </div>
      <h4 style="color:#fff">当前气象状况：</h4>
      <h4 style="color: #fff" >晴<i class="ft-sun"></i></h4>
      <h4 style="color:#fff">当前公路情况：</h4>
      <h4 style="color: #fff" >畅通</h4>
      <h4 style="color:#fff">当前应急物资：</h4>
      <h4 style="color: #fff" >100</h4>
      <h4 style="color:#fff">当前应急人员：</h4>
      <h4 style="color: #fff" >50<i class="icon-user" style="float: right"></i><i class="icon-user" style="float: right"></i></h4>
      <h4 style="color:#fff">当前应急装备：</h4>
      <h4 style="color: #fff">80  <i class="icon-social-dropbox" style="float: right"></i></h4>

    </div>

  </div>
</div>


