<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">正常</h3>
              <span>水位状态</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">晴</h3>
              <span>天气</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-bulb font-large-1"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">125</h3>
              <span>人员</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-graph font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12">
    <div class="panel-blur panel">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-left">
              <h3 class="font-large-1 mb-0">300</h3>
              <span>物资</span>
            </div>
            <div class="media-right white text-right">
              <i class="icon-wallet font-large-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-7" id="chart-panel" >
</div>
  <div class="col-5" style="height: 600px" >
    <div style="margin-top: 50px">
      <h4 id="msc" style="color:#fff;font-weight: bold"> 辽宁 </h4>
    </div>
    <div class="row" style="padding-right: 5px">
      <div class="col-4" style="height: 200px;padding:0px;background-color: rgba(147, 235, 248, .2);border-color: rgb(1,248,219);border-radius:5px;border-style:solid; border-width:1px;">
        <div style="line-height: 40px;height: 40px;padding-left:10px;padding-right:10px;color:#fff;background-color: rgba(0,250,210,0.5);">物资&nbsp;&nbsp;&nbsp;&nbsp;100</div>
        <div echarts [options]="option" style="height: 160px"></div>
      </div>
      <div class="col-4" style="height: 200px;padding:0px;background-color: rgba(147, 235, 248, .2);border-color: rgb(1,248,219);border-radius:5px;border-style:solid; border-width:1px;">
        <div style="line-height: 40px;height: 40px;padding-left:10px;padding-right:10px;color:#fff;background-color: rgba(0,250,210,0.5);">人员&nbsp;&nbsp;&nbsp;&nbsp;100</div>
        <div echarts [options]="option" style="height: 160px"></div>
      </div>
      <div class="col-4" style="height: 200px;padding:0px;background-color: rgba(147, 235, 248, .2);border-color: rgb(1,248,219);border-radius:5px;border-style:solid; border-width:1px;">
        <div style="line-height: 40px;height: 40px;padding-left:10px;padding-right:10px;color:#fff;background-color: rgba(0,250,210,0.5);">装备&nbsp;&nbsp;&nbsp;&nbsp;100</div>
        <div echarts [options]="option" style="height: 160px"></div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
      <div class="col-6">
      <li style="list-style-type: square;color: #fff;font-size: 20px">应急数据</li>
        <div class="row" style="margin-top: 15px">
          <div class="col-7">
            <div style="color: #fff">当前应急装备</div>
            <div style="font-size: 30px;color:#f5fa42">135</div>
          </div>
          <div class="col-5" style="position:relative;margin: 20px auto">
            <div style="position:absolute;margin: auto">
              <i class="icon-social-dropbox" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
              <i class="icon-social-dropbox" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
              <i class="icon-social-dropbox" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 15px">
          <div class="col-7">
            <div style="color: #fff">当前应急人员</div>
            <div style="font-size: 30px;color:#f5fa42">35</div>
          </div>
          <div class="col-5" style="position:relative;margin: 20px auto">
            <div style="position:absolute;margin: auto;">
              <i class="icon-user" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
              </div>
          </div>
        </div>
        <div class="row" style="margin-top: 15px">
          <div class="col-7">
            <div style="color: #fff">当前应急物资</div>
            <div style="font-size: 30px;color:#f5fa42">66</div>
          </div>
          <div class="col-5" style="position:relative;margin: 20px auto">
            <div style="position:absolute;margin: auto">
              <i class="icon-layers" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
              <i class="icon-layers" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <li style="list-style-type: square;color: #fff;font-size: 20px">基础数据</li>
        <div class="row" style="margin-top: 25px">
          <div class="col-6">
            <div style="color: #fff">水库水位</div>
            <div style="font-size: 30px;color:#f5fa42">24m</div>
          </div>
          <div class="col-6" style="margin: 5px auto;padding: 0px">
            <div class="item-container">
              <div class="item-1"></div>
              <div class="item-2"></div>
              <div class="item-3"></div>
              <div class="item-4"></div>
              <div class="item-5"></div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 25px">
          <div class="col-6">
            <div style="color: #fff">气象状况</div>
            <div style="font-size: 30px;color:#f5fa42">晴</div>
          </div>
          <div class="col-6" style="position:relative;margin: 20px auto">
            <div style="position:absolute;margin: auto;">
              <i class="ft-sun" style="float: right;color: #f5fa42;font-size: 25px;text-decoration: underline"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



