<!--<div class="col-md-4 col-md-offset-8">-->
  <!--<div class="dropdown btn-group mr-1 mb-1 " ngbDropdown>-->
    <!--<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="margin: 3px">{{city_name}}</button>-->
    <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
      <!--<button class="dropdown-item" *ngFor="let city of city_list" (click)="choosetown(city)">{{city}}</button>-->
    <!--</div>-->
    <!--<span ngbDropdown>-->
  <!--<button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle style="margin: 3px">{{town_name}}</button>-->
  <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic2">-->
    <!--<button class="dropdown-item" (click)="return()">返回上级</button>-->
    <!--<button class="dropdown-item" *ngFor="let town of town_list" (click)="choosentown(town)">{{town}}</button>-->
  <!--</div>-->
    <!--</span>-->
  <!--</div>-->
<!--</div>-->

<div class="row" >
  <div class="col-lg-8" style="height: 750px;">
      <div echarts [options]="option"  style="height: 700px;background-color: transparent;margin-top: 0px"></div>
  </div>
  <!--<div class="col-lg-4">-->
    <!--<div class="card module">-->
      <!--<div class="card-header">-->
        <!--<h4 class="card-title person_detail">应急预案详情</h4>-->
      <!--</div>-->
      <!--<div class="card-body" style="overflow-y: auto">-->
        <!--<div class="card-block">-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">专项应急</h4>-->
              <!--<p class="person_detail">1、国家自然灾害救助应急预案 [1]-->
                <!--2、国家防汛抗旱应急预案-->
                <!--3、国家地震应急预案-->
                <!--4、国家突发地质灾害应急预案-->
                <!--5、国家处置重、特大森林火灾应急预案-->
                <!--6、国家安全生产事故灾难应急预案-->
                <!--7、国家处置铁路行车事故应急预案-->
                <!--8、国家处置民用航空器飞行事故应急预案-->
                <!--9、国家海上搜救应急预案-->
                <!--10、国家处置城市地铁事故灾难应急预案-->
                <!--11、国家处置电网大面积停电事件应急预案-->
                <!--12、国家核应急预案-->
                <!--13、国家突发环境事件应急预案-->
                <!--14、国家通信保障应急预案-->
                <!--15、国家突发公共卫生事件应急预案-->
                <!--16、国家突发公共事件医疗卫生救援应急预案-->
                <!--17、国家突发重大动物疫情应急预案-->
                <!--18、国家重大食品安全事故应急预案</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">专项应急</h4>-->
              <!--<p class="person_detail">在突发事件发生的种类不断增多，规模、频率和影响持续增强的时代背景下，各国政府应急管理的内涵和外延也在不断地更新变化，应急管理的框架、模式，从空间维度上看，是一个充分整合各种管理要素和资源的一体化应急管理体系;从时间维度上看，是一个有预防、响应、处置和恢复组成的综合性应急管理过程。-->
                <!--在许多国家应急管理的经验来看，一个成熟的应急管理组织结构体系应具备4个系统：法律与行政规范系统、决策指挥中枢系统、执行与支援保障系统、信息管理系统。应急管理这种内在组织结构体系的四大系统并非单纯的线性逻辑或平面关联，而是一个四位一体的架构体系，四大系统具有密切的关联性和互补性。-->
                <!--美国政府应急管理体制</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">应急预案 <small class="text-muted">详情</small></h4>
        </div>
      <div class="card-body">
        <div class="card-block">
          <div class="card-text">
            <blockquote class="blockquote border-left-primary border-left-3 pl-2">
              <div class="blockquote-footer pt-1 pl-0">专项预案
              </div>
                <ol>
                  <li>国家自然灾害救助应急预案</li>
                  <li>国家防汛抗旱应急预案</li>
                  <li>国家地震应急预案</li>
                  <li>国家突发地质灾害应急预案</li>
                  <li>国家处置重、特大森林火灾应急预案
                  <li>国家安全生产事故灾难应急预案</li>
                  <li>国家处置铁路行车事故应急预案</li>
                  <li>国家处置民用航空器飞行事故应急预案</li>
                  <li>国家海上搜救应急预案</li>
                  <li>国家处置城市地铁事故灾难应急预案</li>
                  <li>国家处置电网大面积停电事件应急预案</li>
                  <li>国家核应急预案</li>
                  <li>国家突发环境事件应急预案</li>
                  <li>国家通信保障应急预案</li>
                  <li>国家突发公共卫生事件应急预案</li>
                  <li>国家突发公共事件医疗卫生救援应急预案</li>
                  <li>国家突发重大动物疫情应急预案</li>
                  <li>国家重大食品安全事故应急预案</li>
                </ol>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
