<div class="row">
      <div class="col-lg-9">
        <div class="row">
          <i class="ft-airplay primary font-large-2" style="margin: 15px 10px 0px 25px"></i>
          <div class="content-header">应急预案体系</div>
        </div>
        <div class="mt-2 mb-0">
          <ngb-progressbar type="primary" [value]="40" class="progress-bar-sm"></ngb-progressbar>
        </div>
      </div>
      <div class="col-lg-3 mt-0 card" style="height:100px;background-color: transparent">
        <img class="img-fluid" src={{url}}  (click)="open_picture()" style="height: 100%;width: 100%">
      </div>
</div>
<section id="taskboard">

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class='parent'>
        <div class='dragdrop-wrapper'>
          <div class="row">
            <div class="col-md-3 col-12">
              <h4 class="ml-2 mt-2 text-bold-500"><i class="ft-list mr-1"></i>自然灾害类</h4>
              <div class='dragdrop-container'>
                <div class="card">
                    <div class="card-block pt-3">
                      <div class="clearfix">
                        <h5 class="text-bold-500 primary float-left">台风灾害处置应急预案</h5>
                        <div class="actions float-right">
                          <i class="ft-external-link mr-1 primary" (click)="open_file($event)"></i>
                        </div>
                      </div>
                      <ngb-progressbar type="primary" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                      <p>预案内容</p>
                      <img src="assets/img/portrait/small/avatar-s-3.png"  class="rounded-circle width-50 mr-2"> <span class="primary">最新修订于2018年10月15日</span>
                    </div>
                  </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 primary float-left">防汛应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 primary"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="primary" [value]="40" class="progress-bar-sm"></ngb-progressbar>
                    <p>预案内容</p>
                    <img src="assets/img/portrait/small/avatar-s-3.png"  class="rounded-circle width-50 mr-2"> <span class="primary">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 primary float-left">雨雪冰冻处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 primary"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="primary" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                    <p>预案内容</p>
                    <img src="assets/img/portrait/small/avatar-s-3.png"  class="rounded-circle width-50 mr-2"> <span class="primary">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 primary float-left">地震灾害处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 primary"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="primary" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                    <p>预案内容</p>
                    <img src="assets/img/portrait/small/avatar-s-3.png"  class="rounded-circle width-50 mr-2"> <span class="primary">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 primary float-left">地质灾害处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 primary"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="primary" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                    <p>预案内容</p>
                    <img src="assets/img/portrait/small/avatar-s-3.png"  class="rounded-circle width-50 mr-2"> <span class="primary">最新修订于2018年10月15日</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-12">
              <h4 class="ml-2 mt-2 text-bold-500"><i class="ft-trending-up mr-1"></i> 事故灾难类</h4>
              <div class='dragdrop-container'>
                <div class="card">
                    <div class="card-block pt-3">
                      <div class="clearfix">
                        <h5 class="text-bold-500 info float-left">大面积停电事件应急预案</h5>
                        <div class="actions float-right">
                          <i class="ft-external-link mr-1 info"></i>
                        </div>
                      </div>
                      <ngb-progressbar type="info" [value]="70" class="progress-bar-sm"></ngb-progressbar>
                      <p>内容</p>
                      <img src="assets/img/portrait/small/avatar-s-8.png" class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                    </div>
                  </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">人员伤亡事件处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="75" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-8.png" class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">交通事故处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-8.png" class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">设备事故处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-8.png" class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">生产经营区域火灾处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="95" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-8.png" class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-12">
              <h4 class="ml-2 mt-2 text-bold-500"><i class="ft-thumbs-up mr-1"></i>公共卫生类</h4>
              <div class='dragdrop-container' >
                <div class="card">
                    <div class="card-block pt-3">
                      <div class="clearfix">
                        <h5 class="text-bold-500 success float-left">突发公共卫生事件处置应急预案</h5>
                        <div class="actions float-right">
                          <i class="ft-external-link mr-1 success" (click)="open_file($event)"></i>
                        </div>
                      </div>
                      <ngb-progressbar type="success" [value]="90" class="progress-bar-sm"></ngb-progressbar>
                      <p>内容</p>
                      <img src="assets/img/portrait/small/avatar-s-9.png"  class="rounded-circle width-50 mr-2"> <span class="success">最新修订于2018年10月15日</span>
                    </div>
                  </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">通信系统事故处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="80" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-9.png"  class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">网络信息安全突发事件应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="90" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-9.png"  class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 info float-left">环境污染事件处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 info"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="info" [value]="80" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-9.png"  class="rounded-circle width-50 mr-2"> <span class="info">最新修订于2018年10月15日</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-12">
              <h4 class="ml-2 mt-2 text-bold-500"><i class="ft-alert-octagon mr-1"></i>社会安全类</h4>
              <div class='dragdrop-container' >
                <div class="card">
                    <div class="card-block pt-3">
                      <div class="clearfix">
                        <h5 class="text-bold-500 warning float-left">电力服务事件处置应急预案</h5>
                        <div class="actions float-right">
                          <i class="ft-external-link mr-1 warning"></i>
                        </div>
                      </div>
                      <ngb-progressbar type="warning" [value]="80" class="progress-bar-sm"></ngb-progressbar>
                      <p>内容</p>
                      <img src="assets/img/portrait/small/avatar-s-14.png" class="rounded-circle width-50 mr-2"> <span class="warning">最新修订于2018年10月15日</span>
                    </div>
                  </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 warning float-left">重要保电事件应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 warning"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="warning" [value]="65" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-14.png" class="rounded-circle width-50 mr-2"> <span class="warning">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 warning float-left">突发群体性事件处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 warning"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="warning" [value]="90" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-14.png" class="rounded-circle width-50 mr-2"> <span class="warning">最新修订于2018年10月15日</span>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block pt-3">
                    <div class="clearfix">
                      <h5 class="text-bold-500 warning float-left">新闻突发事件处置应急预案</h5>
                      <div class="actions float-right">
                        <i class="ft-external-link mr-1 warning"></i>
                      </div>
                    </div>
                    <ngb-progressbar type="warning" [value]="80" class="progress-bar-sm"></ngb-progressbar>
                    <p>内容</p>
                    <img src="assets/img/portrait/small/avatar-s-14.png" class="rounded-circle width-50 mr-2"> <span class="warning">最新修订于2018年10月15日</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


<!--<div class="col-md-4 col-md-offset-8">-->
  <!--<div class="dropdown btn-group mr-1 mb-1 " ngbDropdown>-->
    <!--<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="margin: 3px">{{city_name}}</button>-->
    <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
      <!--<button class="dropdown-item" *ngFor="let city of city_list" (click)="choosetown(city)">{{city}}</button>-->
    <!--</div>-->
    <!--<span ngbDropdown>-->
  <!--<button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle style="margin: 3px">{{town_name}}</button>-->
  <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic2">-->
    <!--<button class="dropdown-item" (click)="return()">返回上级</button>-->
    <!--<button class="dropdown-item" *ngFor="let town of town_list" (click)="choosentown(town)">{{town}}</button>-->
  <!--</div>-->
    <!--</span>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row" >-->
  <!--<div class="col-lg-8" style="height: 750px;">-->
      <!--<div echarts [options]="option"  style="height: 700px;background-color: transparent;margin-top: 0px"></div>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
    <!--<div class="card module">-->
      <!--<div class="card-header">-->
        <!--<h4 class="card-title person_detail">应急预案详情</h4>-->
      <!--</div>-->
      <!--<div class="card-body" style="overflow-y: auto">-->
        <!--<div class="card-block">-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">专项应急</h4>-->
              <!--<p class="person_detail">1、国家自然灾害救助应急预案 [1]-->
                <!--2、国家防汛抗旱应急预案-->
                <!--3、国家地震应急预案-->
                <!--4、国家突发地质灾害应急预案-->
                <!--5、国家处置重、特大森林火灾应急预案-->
                <!--6、国家安全生产事故灾难应急预案-->
                <!--7、国家处置铁路行车事故应急预案-->
                <!--8、国家处置民用航空器飞行事故应急预案-->
                <!--9、国家海上搜救应急预案-->
                <!--10、国家处置城市地铁事故灾难应急预案-->
                <!--11、国家处置电网大面积停电事件应急预案-->
                <!--12、国家核应急预案-->
                <!--13、国家突发环境事件应急预案-->
                <!--14、国家通信保障应急预案-->
                <!--15、国家突发公共卫生事件应急预案-->
                <!--16、国家突发公共事件医疗卫生救援应急预案-->
                <!--17、国家突发重大动物疫情应急预案-->
                <!--18、国家重大食品安全事故应急预案</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="media">-->
            <!--<div class="media-body">-->
              <!--<h4 class="media-heading person_detail" style="font-size: 24px">专项应急</h4>-->
              <!--<p class="person_detail">在突发事件发生的种类不断增多，规模、频率和影响持续增强的时代背景下，各国政府应急管理的内涵和外延也在不断地更新变化，应急管理的框架、模式，从空间维度上看，是一个充分整合各种管理要素和资源的一体化应急管理体系;从时间维度上看，是一个有预防、响应、处置和恢复组成的综合性应急管理过程。-->
                <!--在许多国家应急管理的经验来看，一个成熟的应急管理组织结构体系应具备4个系统：法律与行政规范系统、决策指挥中枢系统、执行与支援保障系统、信息管理系统。应急管理这种内在组织结构体系的四大系统并非单纯的线性逻辑或平面关联，而是一个四位一体的架构体系，四大系统具有密切的关联性和互补性。-->
                <!--美国政府应急管理体制</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-12 col-lg-4">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--<h4 class="card-title">应急预案 <small class="text-muted">详情</small></h4>-->
        <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="card-block">-->
          <!--<div class="card-text">-->
            <!--<blockquote class="blockquote border-left border-left-3 pl-2">-->
              <!--<div class="blockquote-footer pt-1 pl-0">专项预案-->
              <!--</div>-->
                <!--<ol>-->
                  <!--<li>国家自然灾害救助应急预案</li>-->
                  <!--<li>国家防汛抗旱应急预案</li>-->
                  <!--<li>国家地震应急预案</li>-->
                  <!--<li>国家突发地质灾害应急预案</li>-->
                  <!--<li>国家处置重、特大森林火灾应急预案-->
                  <!--<li>国家安全生产事故灾难应急预案</li>-->
                  <!--<li>国家处置铁路行车事故应急预案</li>-->
                  <!--<li>国家处置民用航空器飞行事故应急预案</li>-->
                  <!--<li>国家海上搜救应急预案</li>-->
                  <!--<li>国家处置城市地铁事故灾难应急预案</li>-->
                  <!--<li>国家处置电网大面积停电事件应急预案</li>-->
                  <!--<li>国家核应急预案</li>-->
                  <!--<li>国家突发环境事件应急预案</li>-->
                  <!--<li>国家通信保障应急预案</li>-->
                  <!--<li>国家突发公共卫生事件应急预案</li>-->
                  <!--<li>国家突发公共事件医疗卫生救援应急预案</li>-->
                  <!--<li>国家突发重大动物疫情应急预案</li>-->
                  <!--<li>国家重大食品安全事故应急预案</li>-->
                <!--</ol>-->
            <!--</blockquote>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
